<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Login page</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container text-center">
		<h1>Logged Out Successfully</h1>
		<h3><a th:href="@{/user_login}">🤯User Login</a></h3>
		<h3><a th:href="@{/admin_login}">😎Admin Login</a></h3>
		<form th:action="@{/}" method="get">
			<div><button type="submit" class="btn btn-primary">GoTo Home page</button></div>
		</form>
		<h3></h3>
	</div>

</body>

</html>